<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
<h1>Just spring boot things</h1>
<h2>Department</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Branch</th>
    </tr>
    <tr th:each="dep : ${department}">
        <td th:text="${dep.DepartmentId}"></td>
        <td th:text="${dep.name}"></td>
        <td th:text="${dep.branch}"></td>
    </tr>
</table>
</body>
</html>